<% if @monkey.photo.attached? %>
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @monkey.photo.key %>);">
          <div class="container">
          </div>
        </div>
<% else %>
      <div class="banner" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540573133985-87b6da6d54a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1355&q=80);">
        <div class="container">
          <h1 class="text-center"><%= @monkey.name %></h1>
        </div>
      </div>
<% end %>
<div class="container">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Name: <%= @monkey.name %></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: $<%= @monkey.price %></li>
    <li class="list-group-item">Species: <%= @monkey.species %></li>
    <li class="list-group-item">Age: <%= @monkey.age %></li>
    <li class="list-group-item">Weight: <%= @monkey.weight %></li>
    <li class="list-group-item">Address: <%= @monkey.address %></li>
  </ul>
  <div class="card-body">
    <%= link_to 'Back', monkeys_path, class: 'btn btn-primary'%>
  </div>
</div>
  <div class="row my-2">

</div>
