<% if @monkey.photo.attached? %>
        <div class="banner" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @monkey.photo.key %>);">
          <div class="container">
            <h1 class="text-center"><%= @monkey.name %></h1>
          </div>
        </div>
<% else %>
      <div class="banner" style="height: 400px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1540573133985-87b6da6d54a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1355&q=80);">
        <div class="container">
          <h1 class="text-center"><%= @monkey.name %></h1>
        </div>
      </div>
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="col-6 rentals-box">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price: $<%= @monkey.price %></li>
        <li class="list-group-item">Species: <%= @monkey.species %></li>
        <li class="list-group-item">Age: <%= @monkey.age %></li>
        <li class="list-group-item">Weight: <%= @monkey.weight %></li>
        <li class="list-group-item">Address: <%= @monkey.address %></li>
      </ul>
    </div>
    <div class="col-3 rentals-box container">
      <div class="rentals-form">
        <div class="rentals-form-title">
          <h5 class="space_price">$ <span id="space-price"><%= @monkey.price %></span> per day</h5>
          <h6>Reserve now!</h6>
          </div>
        </div>
        <div class="mb-5">
          <%= simple_form_for([@monkey, @rental]) do |f| %>
            <%= f.input :start_date, html5: true, as: :date %>
            <%= f.input :end_date, html5: true, as: :date %>
            <%= f.submit "Book Monkey!"%>
          <% end %>
        </div>
        </div>
      </div>
    </div>
